DISCORD_TOKEN = 'your discord api token'
YOUTUBE_TOKEN = 'your google api token'
WEATHER_TOKEN = 'your openweathermap api token'
DISCORD_SERVER_NAME = 'Your server name'
DISCORD_GENERAL_TALK_CHANNEL_ID = 'channel id'